@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

.header {
  position: absolute;
  top: 0;
  width: 100%;
  max-width: 100%;
  min-width: 1280px;
  margin: 0;
  height: 86px;
  left: 0px;
  margin-left: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.logo img {
  height: 40px;
  margin-right: 10px;
}

.logo span {
  font-family: Montserrat;
  font-size: 16px; 
  font-weight: 500;
  line-height: 19.5px;
  text-align: left;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  font-family: Montserrat;
  width: 86px;
  height: 40px;
  padding: 10px 20px;
  gap: 10px;
  border-radius: 8px;
  opacity: 1;
  background-color: #790B0A;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
  text-align: center;
  color: white;
  transition: background-color 0.3s, color 0.3s;
  margin-right: 20px;
  border: none;
}

.btn-signup {
  font-family: Montserrat;
  width: 110px;
  height: 40px;
  padding: 10px 20px;
  gap: 10px;
  border-radius: 8px;
  opacity: 1;
  background-color: white;
  opacity: 1;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
  text-align: center;
  color: #790B0A;
  transition: opacity 0.3s;
  margin-right: 20px;
  border: none;
}

.btn:hover {
  opacity: 0.5;
}

.btn-signup:hover {
  opacity: 0.5;
}

.button_header {
  font-family: Montserrat;
  width: 110px;
  height: 40px;
  gap: 10px;
  border-radius: 8px;
  opacity: 1;
  background-color: white;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
  text-align: center;
  color: #790B0A;
  transition: opacity 0.3s;
  border: none;
  font-size: 16px;
  background: none;
}

.button_header:hover {
  opacity: 0.5;
}

.icon_button {
  background: none;
  border: none;
  cursor: pointer;
}

.icon_button img {
  width: 16px; /* Adjust size as needed */
  height: 16px; /* Adjust size as needed */
}

.icon_button:focus {
  outline: none;
}

.separator {
  width: 1px;
  height: 30px; /* Adjust height as needed */
  background-color: #ccc; /* Adjust color as needed */
  margin-left: 10px; /* Adjust margin as needed */
  background-color: #790B0A;
}